.venv/*

Univariate_ts/*
.dcai_env/*
/.dcai_env
dcai_env/*

112UCRFolds/*
/112UCRFolds/*

.DS_Store

results/*

*.pyc
*.csv

*.log

*.pdf

concept/*
.vscode/settings.json
submit_job.sh

# SLURM output files
*.o[0-9]*
*.e[0-9]*
