
# data handling 
pyYAML
numpy 
pandas 
tqdm

# time series processing
tsml_eval
aeon
tsfresh

# classification models
torch
scikit-learn

# plotting and visualization
matplotlib
seaborn
ipywidgets

# testing
pytest
pytest-cov

# mixed effect analysis
statsmodels
tsml_eval
pyYAML
torch==2.6.0
aeon==1.0.0
numpy 
pandas 
scikit-learn
sktime
